﻿@model Nsu.Belov.TrainsDatabase.Web.Models.SelectTicketViewModel

@{
    ViewBag.Title = "Select route";
}

<style>
    .editor-datetime { position: relative; }
</style>

<h2>Выберите маршрут и дату</h2>
@using (Html.BeginForm("SelectTicket", "Tickets"))
{
    <div class="form-group">
        <label for="@nameof(Model.DepartureStationId)">Станция отправления</label>
        @Html.DropDownListFor(x => x.DepartureStationId, @Model.StationNames, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label for="@nameof(Model.ArrivalStationId)">Станция прибытия:</label>
        @Html.DropDownListFor(x => x.ArrivalStationId, @Model.StationNames, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label for="@nameof(Model.Date)">Дата отправления:</label>
        <div class="editor-datetime">
            @Html.TextBoxFor(x => x.Date, new {@class = "form-control", placeholder = "MM.DD.YYYY"})
        </div>
    </div>
    <input type="submit" class="btn btn-primary"/>
    <script type="text/javascript">
        $(function() {
            $('#@nameof(Model.Date)').datetimepicker({
                format: "DD.MM.YYYY",
                showTodayButton: true
            });
        });
    </script>
}