﻿@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet"/>


<div class="panel panel-default" style="margin-top: 30px;">
    <div class="panel-heading">
        <h3 class="panel-title">Таблицы</h3>
    </div>
    <div class="panel-body">
        <div class="btn btn-default">
            @Html.ActionLink("Таблицы", "Index", "Tables")
        </div>
        <div class="btn btn-default">
            @Html.ActionLink("Выбор билета", "SelectTrip", "Tickets")
        </div>
        <div class="btn btn-default">
            @Html.ActionLink("Расписание", "Index", "Trips")
        </div>
    </div>
</div>